body{
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    background-color: lightcoral;
}
.main-title{
    border: 5px solid black;
}

.experience i:first-child {
color: blue;
}

.experience li:first-of-type {
    color: green;
    }